
<section class="author">
  {{- with .Site.Params.author.name }}<div class="author-name">{{ . }}</div>{{ end }}
  <div class="author-avatar-wrapper">
    {{- if .Site.Params.author.gravatar }}
    {{- if in .Site.Params.author.gravatar "@" }}
    {{- $hash := trim .Site.Params.author.gravatar " " | lower | md5 }}
    <div style="background-image: url(https://secure.gravatar.com/avatar/{{ $hash }}.jpg?s=150);" class="author-avatar"></div>
    {{- else }}
    <div style="background-image: url(https://secure.gravatar.com/avatar/{{ .Site.Params.author.gravatar }}.jpg?s=150);" class="author-avatar"></div>
    {{- end }}
    {{- else if .Site.Params.author.avatar }}
    <div style="background-image: url({{ .Site.Params.author.avatar }});" class="author-avatar"></div>
    {{- else }}
    <div class="author-avatar"></div>
    {{- end }}
  </div>
  {{ partial "social.html" . }}
</section>
