<section class="subscribe">
  <h3><i class="far fa-envelope-open"></i> Subscribe to interesting posts</h3>

  <form method="post"
    action="https://emailoctopus.com/lists/939ecf3d-7b12-11e8-a3c9-06b79b628af2/members/embedded/1.1/add"
  >
    <input type="hidden"
       name="successRedirectUrl"
       value="https://www.lukasrieder.com/thank-you">

    <div>
      <label for="field_0">Email</label>
      <input id="field_0" name="embedded_form_subscription[field_0]" type="email" placeholder="">
      <button type="submit">Subscribe</button>
      <p>At most you will receive 1 Email per week, about web development topics.</p>
    </div>

    <div style="display:none" aria-hidden="true">
      <!-- Do not remove this field, otherwise you risk bot sign-ups -->
      <input type="text" name="hp939ecf3d-7b12-11e8-a3c9-06b79b628af2"
         tabindex="-1"
         autocomplete="nope">
    </div>
  </form>
</section>

